img{
    width: 30%;
    margin: 1.555%;
}

p{
    text-transform: capitalize;
    width: 30%;
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
    border-bottom: 2px solid grey;
    margin-left: 1.555%;
    padding: 1.1em 0;
}